@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..900");

.square {
  background-color: red;
  width: 100px;
  height: 100px;

  .circle {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50px;
  }
}

body {
  color: $black;
  background-color: $greyWhite;
  width: 100%;
  font-family: "Inter";
  overflow: auto;
}

@media only screen and (min-width: 254px) {
  .tracks {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .track:nth-child(5n) {
    margin-right: 0;
  }
}
