@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..900");

.square {
  background-color: red;
  width: 100px;
  height: 100px;

  .circle {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50px;
  }
}

body {
  color: $black;
  background-color: $greyWhite;
  width: 100%;
  font-family: "Inter";
  overflow: auto;
}

@media only screen and (min-width: 254px) {
  .tracks {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .track:nth-child(5n) {
    margin-right: 0;
  }
}

.person-row-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 2px;
  padding: 20px;
  gap: 20px;
}
.person-row-item:hover {
  display: flex;
  flex-direction: row;
  background-color: #fff7dc;
  margin-top: 2px;
  padding: 20px;
  gap: 20px;
}

.person-row-item-companies {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 16px;
}

.person-row-item-headline {
  width: 190px;
}

.search-tick {
  height: 16px;
  width: 16px;
  margin-top: 10px;
}

.sync-timer-text {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.sync-loader {
  width: 100%;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sync-timer {
  width: 100%;
  text-align: center;
}

.main-outer {
  margin-top: 2px;
}

.person-layout-parent {
  display: flex;
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-top: 4px;
}

.landing-page-tab-style {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 42px;
  min-width: 256px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: #55efc4;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.landing-page-tab-style-disabled {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 42px;
  min-width: 256px;
  font-weight: 600;
  font-size: large;
  padding-left: 64px;
  padding-right: 64px;
  background-color: #c4c4c4;
  cursor: pointer;
}

.contact-us-title {
  color: black;
  font-size: 10px;
}

.person-image {
  image-rendering: optimizeSpeed;
  border-radius: 8px;
  height: 56px;
  width: 56px;
}

.status-person-image {
  image-rendering: optimizeQuality;
  border-radius: 8px;
  margin-top: 4px;
  width: 60px;
  margin-left: -48px;
}

.person-card-unselected {
  width: 220px;
  height: fit-content;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 18px 2px;
  padding: 8px;
  margin-left: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.person-card-unselected:hover {
  width: 220px;
  height: fit-content;
  border-radius: 8px;
  margin-right: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px 0px;
  padding: 8px;
  margin-left: 32px;
  margin-bottom: 16px;
  display: flex;
}

.testimonial-card {
  width: fit-content;
  min-width: 250px;
  height: fit-content;
  min-height: 96px;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
}

.list-container {
  display: -webkit-box;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}

.status-person-card {
  width: 90%;
  height: 90px;
  min-height: 72px;
  border-radius: 8px;
  background-color: rgb(228, 222, 222);
  padding: 8px;
  margin-left: auto;
  margin-bottom: 16px;
  display: flex;
}

.person-card-selected {
  width: 90%;
  height: fit-content;
  min-height: 72px;
  border-radius: 8px;
  background-color: #d2f783;
  padding: 8px;
  margin-left: auto;
  margin-bottom: 16px;
  display: flex;
  transition: all 0.5s;
}

.person-card-selected:hover {
  width: 90%;
  height: fit-content;
  min-height: 72px;
  border-radius: 8px;
  background-color: #d2f783;
  box-shadow: rgba(210, 247, 131, 0.65) 0px 0px 16px 0px;
  padding: 8px;
  margin-left: auto;
  margin-bottom: 16px;
  display: flex;
}

.person-details-container {
  width: 100%;
  height: fit-content;
  font-size: 10px;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  margin-bottom: 4px;
  flex-direction: row;
}

.status-person-details-container {
  width: 100%;
  min-width: 200px;
  height: fit-content;
  margin-left: 16px;
  margin-right: 24px;
  font-size: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.founder-details-jd {
  color: black;
  width: fit-content;
  font-weight: 500;
  text-align: start;
  align-self: center;
  margin-left: 8px;
  justify-content: center;
  margin: 4px;
  margin-left: 20px;
  font-size: 18px;
}
.founder-details-name {
  font-size: 18px;
  color: #d63031;
  width: fit-content;
  font-weight: 500;
  text-align: start;
  align-self: center;
  justify-content: center;
  margin: 4px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-weight: bold;
}

.span-text-red {
  color: #d63031;
  display: inline-block;
  line-height: 0.8rem;
  border-bottom: 4px solid #55efc4;
  border-radius: 10px;
  text-shadow: 0px 1px 1px #ffffff;
  margin-left: 8px;
}

.span-text-pink {
  color: #ff007a;
  display: inline-block;
}

.span-text-light-red {
  color: #da552f;
  display: inline-block;
  line-height: 0.8rem;
  text-shadow: 0px 1px 1px #ffffff;
  margin-left: 8px;
}

.heading-span-text-red {
  color: #d63031;
  display: inline-block;
  line-height: 0.98rem;
  border-bottom: 9px solid #55efc4;
  border-radius: 10px;
  text-shadow: 0px 1px 1px #ffffff;
  margin-left: 8px;
}

.person-details-name {
  font-size: 14px;
  color: black;
  width: fit-content;
  font-weight: 500;
  text-align: start;
  align-self: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
}
.person-details-name:hover {
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.faq-red-link {
  font-weight: 700;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.person-details-prop {
  font-size: 11px;
  min-width: 150px;
  width: 80%;
  text-align: start;
  color: black;
  font-weight: 450;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.person-details-headline {
  font-size: 11px;
  min-width: 150px;
  width: 80%;
  text-align: start;
  color: black;
  font-weight: 450;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.person-details-contact {
  border-radius: 4px;
  height: 12px;
  font-size: x-small;
  margin-left: 4px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 2px;
}

.person-details-contact-title {
  font-size: 10px;
  color: grey;
  font-weight: 450;
  margin-top: 4px;
}

.person-details-contact-container {
  margin-top: 4px;
  display: flex;
  text-align: center;
}

.person-selection-container {
  width: 20px;
  min-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-row {
  display: flex;
  flex-direction: row;
}

.tut-img {
  border-radius: 16px;
  height: 300px;
  width: 420px;
  min-height: 300px;
  margin-left: 16px;
  margin-right: 32px;
}

.screen-decor {
  height: 100%;
  background-color: "white";
  background-repeat: no-repeat;
  image-rendering: optimizeSpeed;
  background-blend-mode: normal;
  background-attachment: local;
  background-position: 50% -114px;
  background-size: 500px;
}

.screen-decor-bg {
  height: 100%;
  background-color: "white";
  background-repeat: no-repeat;
  image-rendering: optimizeSpeed;
  background-blend-mode: normal;
  background-attachment: local;
  background-position: 90% 124px;
  background-size: 500px;
}

.dotted-triangle {
  height: 100%;
  background-repeat: no-repeat;
  image-rendering: optimizeSpeed;
  background-blend-mode: normal;
  background-attachment: local;
  background-position: 100% -5px;
  background-size: 120px;
}

.company-onboarding-top-section-decor-bg {
  height: 100%;
  background: "white";
  background-repeat: no-repeat;
  image-rendering: optimizeSpeed;
  background-blend-mode: normal;
  background-attachment: local;
  background-position: 65% 50%;
  background-size: cover;
}

.tracking-screen-decor {
  overflow: scroll;
  margin-left: 16px;
  margin-right: 16px;
  height: 100%;
  margin-top: -8px;
  text-align: start;
  justify-items: start;
  justify-self: start;
}

.stroke-text {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ddd;
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 767px) {
  .stroke-text {
    font-size: 90px;
  }
}

@media (max-width: 480px) {
  .stroke-text {
    font-size: 50px;
  }
}

.vertical-scroll-container {
  display: flex;
  flex-direction: column;
}

.horizontal-scroll-container {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.tracking-list-container {
  width: 70%;
  min-width: 700px;
  display: flex;
  margin-top: 16px;
  text-align: start;
  justify-items: start;
  justify-self: start;
}

.submit-contacts-container {
  flex-direction: row;
  display: flex;
  overflow: auto;
  background-color: rgb(243, 240, 240);
  width: 100%;
  padding-top: 2px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  text-align: center;
}

.scroll-container {
  overflow-y: scroll;
}

.center-loader-container {
  width: 100%;
  height: 100%;
  margin-top: 160px;
  text-align: center;
}

.search-container {
  display: flex;
  min-width: 300px;
  height: 56px;
  flex-direction: row;
  border-radius: 4px;
  border-color: rgba(180, 175, 175, 0.534);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}

.centre-card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}

.search-input {
  margin-top: 16px;
}

.login-input {
  border-radius: 6px;
  height: 48px;
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(255, 255, 255);
  margin-left: 70px;
  margin-bottom: 24px;
}

.login-input-disabled {
  border-radius: 6px;
  height: 48px;
  text-align: start;
  color: grey;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(207, 200, 200, 0.1);
}

.user-details-input {
  border-radius: 16px;
  height: 48px;
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(207, 200, 200, 0.1);
}

.user-details-input-disabled {
  border-radius: 16px;
  height: 48px;
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(207, 200, 200, 0.1);
}

.person-list-container {
  margin-top: 8px;
}

.status-person-list-container {
  margin-top: 8px;
  width: 50%;
}

.person-selection-tick-selected {
  background-color: rgba(15, 218, 137, 0.589);
  border-radius: 4px;
  width: 20px;
  padding: 4px;
}

.person-selection-tick-unselected {
  background-color: rgba(140, 148, 131, 0.315);
  border-radius: 4px;
  width: 20px;
  padding: 4px;
}

.main-section {
  overflow-y: scroll;
  image-rendering: optimizeSpeed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 85% 60%;
  background-blend-mode: normal;
  background-size: 450px;
  padding-left: 64px;
  padding-right: 64px;
}

.main-section-without-bg {
  overflow-y: scroll;
  image-rendering: optimizeSpeed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 95% 30%;
  background-blend-mode: normal;
}

.span-text-yellow {
  color: #d63031;
}

.onboarding-sub-heading {
  flex-grow: 1;
  flex: 1;
  font-size: small;
  font-style: normal;
  margin-top: 8px;
  text-align: start;
  color: black;
}

.sub-heading {
  font-size: medium;
  font-style: normal;
  text-align: start;
  font-weight: 900;
  font-size: 3vh;
  color: black;
}

.sub-heading-mobile {
  font-size: medium;
  font-style: normal;
  text-align: start;
  font-weight: 900;
  font-size: 2vh;
  color: black;
}

.contacts-sub-heading {
  font-size: 13px;
  margin-top: 16px;
  margin-left: 20px;
  font-weight: 500;
  text-align: start;
  color: black;
}

.faq-answer {
  color: black;
  font-size: medium;
  flex: 1;
  text-align: start;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 8px;
}

.faq-question {
  color: black;
  font-size: large;
  flex: 1;
  text-align: start;
  font-weight: 800;
}

.fancy-bg {
  height: 450px;
  max-height: 450px;
  margin-left: 32px;
  margin-top: 36px;
  image-rendering: optimizeQuality;
}

.onboarding-text-container {
  margin-top: 72px;
}

.onboarding-horizontal-container {
  flex-direction: row;
  display: flex;
  background-color: rgb(245, 244, 244);
  border-radius: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 128px;
  margin-bottom: 128px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}
.blue-horizontal-container {
  flex-direction: row;
  display: flex;
  // background-color: #00b894;
  border-radius: 16px;
  // padding-top: 16px;
  // padding-bottom: 16px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 100%;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}

.horizontal-container {
  flex-direction: row;
  display: flex;
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}

.search-horizontal-container {
  flex-direction: row;
  display: flex;
  background-color: white;
  height: 100%;
}

.heading-text {
  color: black;
  font-size: xx-large;
  flex: 1;
  text-align: start;
  font-weight: 900;
}

.small-heading-text {
  color: black;
  font-size: small;
  flex: 1;
  text-align: start;
}

.small-center-heading-text {
  color: black;
  font-size: small;
  flex: 1;
  text-align: center;
  margin-top: 8px;
}

.center-container {
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.email-input-text-valid {
  color: black;
  text-align: center;
  width: 20%;
  font-size: small;
  min-width: 150px;
  height: 20px;
  border: 2px solid #27df55;
  justify-self: center;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.email-input-text-invalid {
  color: black;
  text-align: center;
  width: 20%;
  font-size: small;
  border: 2px solid #ff565e;
  min-width: 150px;
  height: 20px;
  justify-self: center;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.linkedin-data-valid {
  color: black;
  text-align: center;
  width: 50%;
  font-size: small;
  min-width: 150px;
  height: 60px;
  border: 2px solid #27df55;
  justify-self: center;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.linkedin-data-invalid {
  color: black;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  font-size: small;
  min-width: 150px;
  height: 60px;
  border: 2px solid #5100e0;
  justify-self: center;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.install-image-template {
  flex: 1;
}

.onboarding-button {
  width: 40%;
  min-width: 400px;
  min-height: 48px;
  margin-top: 32px;
  background-color: #40df9f;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
}

.onboarding-button:hover {
  width: 40%;
  min-width: 400px;
  min-height: 48px;
  margin-top: 32px;
  background-color: #40df9f;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  color: white;
  border-radius: 8px;
  font-weight: 900;
  font-size: medium;
  padding: 5px 10px;
}

.landing-page-how-works-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  border-radius: 16px;
  background-color: #ccf1ea;
}

.landing-page-steps {
  color: black;
  font-size: medium;
  flex: 1;
  text-align: start;
  font-weight: 900;
}

.landing-page-steps-description {
  color: black;
  font-size: small;
  flex: 1;
  text-align: start;
  font-weight: 500;
}

.extention-download-button {
  background-color: #fdcb6e;
  color: rgb(0, 0, 0);
  width: 400px;
  height: 48px;
  font-weight: 600;
  text-align: center;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-left: 35%;
  margin-top: 24px;
  justify-self: center;
  margin-right: auto;
  cursor: pointer;
}

.extention-download-button:hover {
  background-color: black;
  color: rgb(0, 0, 0);
  width: 400px;
  height: 48px;
  font-weight: 600;
  text-align: center;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-left: 35%;
  margin-top: 24px;
  color: white;
  justify-self: center;
  margin-right: auto;
}

.selection-button-selected {
  width: 200px;
  margin-top: 24px;
  background-color: #40df9f;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  font-size: small;
  justify-content: center;
  padding: 5px 10px;
  display: flex;
  cursor: pointer;
}

.selection-button-selected:hover {
  width: 200px;
  color: white;
  font-weight: 700;
  font-size: small;
  justify-content: center;
  margin-top: 24px;
  background-color: #40df9f;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  justify-content: center;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
}

.selection-button-unselected {
  width: 200px;
  margin-top: 24px;
  background-color: #aab4b1;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.search-connection-name {
  color: #a1a1a3;
  font-size: x-small;
  font-weight: 400;
  text-align: start;
  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.search-referrer-name {
  color: #6c5ce7;
  font-size: x-small;
  font-weight: 600;
  text-align: start;
  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.search-referrer-name:hover {
  color: #6c5ce7;
  font-size: x-small;
  text-align: start;
  font-weight: 600;

  text-decoration: underline;
  cursor: pointer;
}

.contact-selection-progress {
  margin-left: 15px;
  margin-top: 18px;
  width: 100%;
  min-width: 250px;
}

.onboarding-button-span {
  margin-left: 8px;
  font-weight: 500;
  font-size: normal;
}
.checkbox-heading {
  font-size: 16px;
  font-weight: 600;
}

.feedback-button {
  color: #6c5ce7;
  text-decoration: underline;
  cursor: pointer;
  font-size: x-small;
  margin-top: -4px;
  font-weight: 600;
}

.main-container-top {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.platform-selection-button-selected {
  width: 200px;
  margin-top: auto;
  background-color: #40df9f;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  font-size: small;
  justify-content: center;
  padding: 5px 10px;
  display: flex;
  cursor: pointer;
}

.platform-selection-button-selected:hover {
  width: 200px;
  color: white;
  font-weight: 700;
  font-size: small;
  justify-content: center;
  margin-top: auto;
  background-color: #40df9f;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  justify-content: center;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
}

.platform-selection-button-unselected {
  width: 200px;
  margin-top: auto;
  background-color: #aab4b1;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: small;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.platform-person-details-name {
  font-size: 14px;
  color: black;
  width: fit-content;
  font-weight: 500;
  text-align: start;
  align-self: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
}
.platform-person-details-name:hover {
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.platform-search-img {
  height: 16px;
  image-rendering: optimizeQuality;
}

.platform-search-horizontal-container {
  flex-direction: row;
  display: flex;
  background-color: white;
}

.platform-search-container {
  display: flex;
  min-width: 300px;
  height: 56px;
  flex-direction: row;
  border-radius: 16px;
  border-color: rgba(180, 175, 175, 0.534);
  box-shadow: -2px 4px 4px 1px rgba(0.5, 1, 0.8, 0.1);
  margin-bottom: 24px;
  height: 48px;
  width: 90%;
  background: white;
}

.platform-person-details-prop {
  font-size: 11px;
  min-width: 150px;
  width: 80%;
  text-align: start;
  color: black;
  font-weight: 450;
  overflow: hidden;
  margin-top: 8px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.platform-person-card-unselected {
  width: 220px;
  min-height: 330px;
  height: fit-content;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 18px 2px;
  padding: 8px;
  margin-left: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.platform-person-card-unselected:hover {
  width: 220px;
  height: fit-content;
  border-radius: 8px;
  margin-right: 16px;
  min-height: 330px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px 0px;
  padding: 8px;
  margin-left: 32px;
  margin-bottom: 16px;
  display: flex;
}

.platform-person-details-container {
  width: 100%;
  height: 100%;
  font-size: 10px;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  margin-bottom: 4px;
  flex-direction: row;
}

.platform-person-image {
  image-rendering: optimizeSpeed;
  border-radius: 8px;
  height: 56px;
  width: 56px;
}

.platform-person-details-headline {
  font-size: 11px;
  min-width: 150px;
  width: 80%;
  text-align: start;
  color: black;
  font-weight: 450;
  overflow: hidden;
  margin-top: 8px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.platform-person-details-contact {
  border-radius: 4px;
  height: 12px;
  font-size: x-small;
  margin-left: 4px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 2px;
}

.platform-person-details-contact-title {
  font-size: 10px;
  color: grey;
  font-weight: 450;
  margin-top: 4px;
}

.platform-person-details-contact-container {
  margin-top: 4px;
  display: flex;
  text-align: center;
}

.platform-person-selection-container {
  width: 20px;
  min-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform-bg {
  height: 100%;
  background-color: "white";
  background-repeat: no-repeat;
  image-rendering: optimizeSpeed;
  background-blend-mode: normal;
  background-attachment: local;
  background-size: 500px;
}

.platform-li-img {
  max-height: 128px;
  height: 18;
  image-rendering: optimizeQuality;
  cursor: pointer;
}

.platform-main-container-top {
  margin-right: 32px;
  padding-left: 32px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.sign-in-button {
  width: 232px;
  height: 32px;
  color: white;
  font-weight: 800;
  background-color: black;
  border-radius: 16px;
  margin-top: 32px;
  transition: all 0.5s;
  margin-left: auto;
  transition: ease-in;
  transform: scale(1.05);
  transition-duration: 200ms;
  margin-left: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.sign-in-button:hover {
  width: 232px;
  height: 32px;
  color: black;
  font-weight: 650;
  background-color: #fdcb6e;
  border-radius: 16px;
  margin-left: auto;
  transition: ease-in;
  transform: scale(1.05);
  transition-duration: 200ms;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.sign-in-button-progress {
  width: 108px;
  height: 32px;
  color: white;
  font-weight: 800;
  background-color: #fdcb6e;
  border-radius: 16px;
  transition: all 0.5s;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.small-error-text {
  color: red;
  font-size: small;
  font-weight: 600;
}

.company-select-bar {
  background-color: #fdcb6e;
  margin-top: 48px;
}

.extra-small-error-text {
  color: red;
  font-size: x-small;
  font-weight: 600;
  margin-bottom: 12px;
}

.extra-small-success-text {
  color: green;
  font-size: x-small;
  font-weight: 600;
}
.create-account-button {
  width: 232px;
  height: 50px;
  color: rgb(2, 2, 2);
  font-weight: 600;
  background-color: #fdcb6e;
  border-radius: 6px;
  transition: all 0.5s;
  margin-left: auto;
  transition: ease-in;
  transform: scale(1.05);
  transition-duration: 200ms;
  margin-left: 25%;
  margin-bottom: auto;
  cursor: pointer;
  font-size: x-large;
}

.create-account-button:hover {
  width: 232px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-weight: 550;
  background-color: #000000;
  border-radius: 6px;
  margin-left: auto;
  transition: ease-in;
  transform: scale(1.05);
  transition-duration: 200ms;
  margin-top: auto;
  margin-left: 25%;
  margin-bottom: auto;
  cursor: pointer;
}
.tooltip {
  display: inline-block;
  width: 400px;
  line-height: 1.1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.search-category {
  color: white;
  background-color: #6c5ce7;
  width: fit-content;
  justify-self: center;
  border-radius: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 700;
  margin-left: 48px;
}

.search-category-unselected {
  color: white;
  background-color: #8d85cc;
  width: fit-content;
  justify-self: center;
  border-radius: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 48px;
}
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}

.search-category-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.middle-container {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.tooltip {
  display: inline-block;
  width: 400px;
  line-height: 1.1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.customModal {
  background-color: #6c5ce7;
  background: #6c5ce7;
  min-width: 500px;
  width: 1000%;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
}
.solid-bg-container {
  background-color: rgb(245, 244, 244);
  border-radius: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 128px;
  margin-bottom: 128px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}

.card-container {
  margin-top: 72px;
  width: 600px;
  background-color: #fff7dc;
  border-radius: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: fit-content;
  padding-left: 48px;
  margin-bottom: 128px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}

.dialog {
  border-radius: 16px;
  border-color: "red";
  min-width: 500px;
  text-align: center;
  width: 80%;
}

#main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;

  h2 {
    font-size: 25px;
    text-align: center;
  }
}

.frame-container {
  position: relative;
}

.install-button {
  background-color: #fdcb6e;
  color: rgb(0, 0, 0);
  width: 480px;
  height: 48px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-top: 32px;
  margin-left: 148px;
  justify-self: center;
  cursor: pointer;
}

.install-button:hover {
  background-color: black;
  color: rgb(0, 0, 0);
  width: 480px;
  height: 48px;
  font-weight: 600;
  text-align: center;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  color: white;
  justify-self: center;
  margin-right: auto;
}
.top-container-button {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 38px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-top: 18px;
  margin-left: 24px;
  justify-self: center;
  cursor: pointer;
  padding-top: 7px;
}

.blue-button {
  background-color: #0085ff;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 24px;
  justify-self: center;
  cursor: pointer;
  padding-top: 7px;
}

.blue-button:hover {
  background-color: #1e4a74;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 24px;
  justify-self: center;
  cursor: pointer;
  padding-top: 7px;
}

.top-container-button:hover {
  background-color: #fdcb6e;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 38px;
  font-weight: 600;
  text-align: center;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  color: white;
  justify-self: center;
  padding-left: 7px;
}

.demo-button {
  background-color: #fdcb6e;
  color: rgb(0, 0, 0);
  width: 156px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-top: 32px;
  justify-self: center;
  cursor: pointer;
}

.demo-button:hover {
  background-color: black;
  color: rgb(0, 0, 0);
  width: 156px;
  height: 32px;
  font-weight: 600;
  text-align: center;
  transform: scale(1.01);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  color: white;
  justify-self: center;
  margin-right: auto;
}

.demo-button-light {
  background-color: #fdcb6e;
  color: rgb(0, 0, 0);
  width: 156px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  margin-top: 32px;
  justify-self: center;
  cursor: pointer;
}

.demo-button-light:hover {
  color: rgb(0, 0, 0);
  width: 156px;
  height: 32px;
  font-weight: 600;
  text-align: center;
  background-color: #55efc4;
  transform: scale(1.2);
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 16px;
  justify-self: center;
  margin-right: auto;
}

.company-onboarding-left-rounded-container {
  border-radius: 100px 0px 0px 100px;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 28px 0px;
  padding-left: 128px;
  padding-top: 32px;
  background-color: white;
  padding-bottom: 32px;
  content: "";
}

.company-onboarding-small-rounded-container {
  border-radius: 32px 32px 32px 32px;
  border-color: #ff007a;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 28px 0px;
  background-color: white;
  padding: 10px;
  content: "";
}

.list-unstyled {
  list-style: none;
  padding: 0px;
}

.onboarding-team {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.team-person-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 48px;
}

.team-person-card {
  width: 250px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.team-details-name {
  text-align: center;
  font-size: large;
  color: #ffc81a;
  font-weight: 800;
}

.team-details-headline {
  text-align: center;
}

.company-logo-filter {
  // filter: grayscale(100%);
  margin-top: 16px;
}

.job-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.landing-page-rewards-container {
  display: flex;
  flex-direction: row;
  height: 228px;
  width: 80%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-top: 128px;
  border-radius: 16px;
  background-color: #55efc4;
}

.text-area-email {
  width: 700px;
  font-size: 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 28px 0px;
}
.fixed-text {
  color: rgb(44, 43, 43);
  font-size: 12px;
  background: #ffffff;
  resize: none;
}
.contacts-submit-button-disabled {
  width: 100%;
  height: 32px;
  margin-top: 8px;
  background-color: grey;
  margin-left: inherit;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
  cursor: pointer;
}

.contacts-submit-button-disabled:hover {
  width: 100%;
  height: 32px;
  min-width: 100px;
  margin-top: 8px;
  background-color: grey;
  color: white;
  transition: ease-in-out;
  transition-duration: 350ms;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
}

.contacts-submit-button {
  width: 100%;
  height: 32px;
  margin-top: 8px;
  background-color: rgb(44, 240, 161);
  margin-left: inherit;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
  cursor: pointer;
}
.cancel-button {
  width: 100%;
  height: 32px;
  margin-top: 8px;
  background-color: rgb(135, 141, 139);
  margin-left: inherit;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
  cursor: pointer;
}
.contacts-submit-button:hover {
  width: 100%;
  height: 32px;
  min-width: 100px;
  margin-top: 8px;
  background-color: #ff565e;
  color: white;
  transition: ease-in-out;
  transition-duration: 350ms;
  border-radius: 8px;
  font-weight: 500;
  font-size: medium;
  padding: 5px 10px;
}
.preview-email-button {
  background-color: #8d8d8d;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 24px;
  justify-self: center;
  cursor: pointer;
  padding-top: 7px;
}

.preview-email-button:hover {
  background-color: #2b2a2a;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 32px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  transition-duration: 250ms;
  transition: all 250ms ease;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 24px;
  justify-self: center;
  cursor: pointer;
  padding-top: 7px;
}

.user-search-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 18px 2px;
  cursor: pointer;
}

.user-search-container-selected {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 18px 2px;
  border-color: blue;
  border-style: solid;
}

.user-search-container:hover {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.897);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 18px 2px;
}

.current-search-info-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 16px;
  padding: 20px;
  flex-basis: 0px;
  gap: 10%;
}

.email-action-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 16px;
  padding: 20px;
  margin-top: 2px;
}
